
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>envioSolicitud</title>
    <link href="~/Styles/Pop.css" rel="stylesheet" />
    
   
</head>
<body>

    <div class="box center" style="margin-top:100px;">
        <h2>@ViewBag.Message</h2>
    </div>

</body>
</html>
