.banner-area {
    width: 100%;
    height: 16vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://cdn.pixabay.com/photo/2015/06/19/21/24/avenue-815297_960_720.jpg);
    background-size: cover;
}

::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
}

h2 {
    margin: 20px 0;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    padding: 65px;
}

.inputFields {
    width: 800px;
    padding: 12px 20px;
    margin: 8px 0;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    
}



.container {
    max-width: 330px;
    background: #fff;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
}

.container2 {
    max-width: 40%;
    background: #fff;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
}

.center {
    margin: auto; 
    padding: 20px;
}

.cta {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: black;
    background-color: #ACB992;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

    .cta:hover {
        background-color: #FFF;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #000;
        transform: translateY(-7px);
    }

    .cta:active {
        transform: translateY(-1px);
    }

.infocuenta1 {
    font-size: 15px;
    width: 50%;
    float: left;
}

.infocuenta2 {
    font-size: 15px;
    width: 50%;
    float: right;
}

@media all and (max-width: 767px) {
    h2 {
        margin: 20px 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 33px;
        font-weight: 500;
        padding: 50px;
        padding-bottom: 20px;
    }
}