<!DOCTYPE html>

@{
    ViewBag.Title = "Eliminar Proveedor";
}

<html>
<head>
    <h1 align="center" style="color:black; font-family:Agrozza Demo;">Eliminar proveedor</h1>
    <link href="~/Styles/Table.css" rel="stylesheet" />

</head>
<body>
    @if (ViewBag.Message != null)
    {
        if (ViewBag.ExitoAlCrear)
        {
            <div class="alert-success">
                <h3> @ViewBag.Message </h3>
            </div>
            <input type="button" class="cta center" align="center" onclick="location.href='/Proveedor/ListadodeProveedores';" value="Regresar" />
        }
        else
        {
            <div class="alert-danger">
                <h3> @ViewBag.Message </h3>
            </div>
            <input type="button" class="cta center" align="center" onclick="location.href='/Proveedor/ListadodeProveedores';" value="Regresar" />
        }
    }
</body>
</html>
