@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Styles/Table.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Respuestas</title>
    <link href="~/Styles/Table.css" rel="stylesheet" />
</head>


<body>
    <div class="banner-area">
        <h2 style="color:white;">Respuestas </h2>
    </div>

    <div class="container">
        <h1> </h1>
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-3">Comentario</div>
                <div class="col col-2">Calificación</div>
            </li>
            @foreach (var pregunta in ViewBag.Respuestas)
            {
                <li class="table-row">
                    <div class="col col-3">@pregunta.comentario</div>
                    <div class="col col-2">@pregunta.calificacion</div>
                </li>

            }
        </ul>
        <input type="button" class="cta" onclick="location.href='/Pregunta/PreguntasdeEncuesta?EncuestaId='+2" value="Regresar" />
    </div>


</body>
</html>

