@{
    ViewBag.Title = "SitiosInteres";
    
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado de Sitios de Interés</title>
    <link href="~/Styles/Gallery.css" rel="stylesheet" />
    <link href="~/Styles/Table.css" rel="stylesheet" />
</head>

<body>

    <div class="banner-area" style="margin-bottom:35px;">
        <h2 style="color:white; ">Sitios de Interés </h2>

    </div>

    <div id="gallery">
        <div><img src="~/Images/Costa_Rica_-_Caribbean_Sea_-_Parismina_(Eco-Tourism)_-_03.jpg" /><a href="#lightbox-1" style="color:#fff;">Parismina</a></div>
        <div><img src="~/Images/4b.jpg" alt="Quepos"/><a href="#lightbox-2">Quepos</a></div>
        <div><img src="~/Images/descarga.jpg" alt="San Pablo"/><a href="#lightbox-3" style="font-size: 35px">San Pablo</a></div>
        <div><img src="~/Images/11794315.700x525.jpg" alt="Jimenez"/><a href="#lightbox-4" style="font-size: 35px">Jimenez</a></div>
        <div><img src="~/Images/descarga (1).jpg" alt="Terrazu"/><a href="#lightbox-5" style="font-size: 35px">Tarrazú</a></div>
        <div><img src="~/Images/Galeria-3-x-4.jpg" alt="Pacayitas"/><a href="#lightbox-6" style="font-size: 35px">Pacayitas</a></div>
        <div><img src="~/Images/Barbilla_hq_2013.jpg" alt="Barbilla"/><a href="#lightbox-7" style="font-size: 35px">Parque nacional Barbilla</a></div>
        <div><img src="~/Images/Valle_del_Guarco,_Cartago,_Costa_Rica_04.jpg" alt="ElGuarco"/><a href="#lightbox-8" style="font-size: 35px">El Guarco</a></div>
        <div><img src="~/Images/43264536.700x525.jpg" alt="Cimarrones"/><a href="#lightbox-9" style="font-size: 35px">Cimarrones</a></div>
        <div><img src="~/Images/Galeria-Suiza-a-Humo-4.jpg" alt="Pejibaye"/><a href="#lightbox-10" style="font-size: 35px">Humo de Pejibaye</a></div>
    </div>


    <div class="lightbox" id="lightbox-1">
        <div class="content">
            <img src="~/Images/Costa_Rica_-_Caribbean_Sea_-_Parismina_(Eco-Tourism)_-_03.jpg" />
            <div class="title"><b>Parismina</b> Barra del Parismina es un pueblo de unas 400 personas ubicado en la costa caribeña de Costa Rica, en la desembocadura del río Reventazón.</div><a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-2">
        <div class="content">
            <img src="~/Images/4b.jpg" />
            <div class="title"><b>Quepos</b> es una ciudad sumamente turística debido a sus playas y su ambiente, es una zona de una economía bastante grande con respecto a otras zonas turísticas del país. </div><a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-3">
        <div class="content">
            <img src="~/Images/descarga.jpg" />
            <div class="title"><b>San Pablo</b> Un tranquilo lugar en San José con un clima calido y diversos lugares para entretenerse.</div><a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-4">
        <div class="content">
            <img src="~/Images/11794315.700x525.jpg" />
            <div class="title">
                <b>Jimenez</b> es el cuarto cantón de la provincia de Cartago, Costa Rica. Se encuentra al este de la ciudad de Cartago, en los límites del Valle de El Guarco. Su ciudad cabecera es Juan Viñas.

            </div><a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-5">
        <div class="content">
            <img src="~/Images/descarga (1).jpg" />
            <div class="title"><b>Tarrazú</b> pueblo especializado en el café, rodeado de montañas y con un clima frio.</div><a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-6">
        <div class="content">
            <img src="~/Images/Galeria-3-x-4.jpg" />
            <div class="title"><b>Pacayitas</b> es un pueblo de menos de 200 personas a 14 kilometros de la Suiza y a 15 kilometros del puente peatonal sobre el Rio Pacuare. Tiene una iglesia y cerca existen dos albergues Corredores del Pacuare y Finca Valig.</div><a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-7">
        <div class="content">
            <img src="~/Images/Barbilla_hq_2013.jpg" />
            <div class="title"><b>Parque nacional Barbilla</b> es un parque nacional que se encuentra en el Caribe de Costa Rica, administrado por el Sistema Nacional de Áreas de Conservación en el Área de conservación La Amistad Caribe. </div><a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-8">
        <div class="content">
            <img src="~/Images/Valle_del_Guarco,_Cartago,_Costa_Rica_04.jpg" />
            <div class="title"><b>El Guarco</b> Tejar con un área de 6,06 Km2. y una altitud de 1.377 m/sm, con clima frio debido a su altitud.</div><a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-9">
        <div class="content">
            <img src="~/Images/43264536.700x525.jpg" />
            <div class="title"><b>Cimarrones</b> Cimarrones es una aldea en Limón. Cimarrones está situada circa de Santa Rosa, y circa de Río Hondo.</div><a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-10">
        <div class="content">
            <img src="~/Images/Galeria-Suiza-a-Humo-4.jpg" />
            <div class="title"><b>Humo de Pejibaye</b> </div><a class="close" href="#gallery"></a>
        </div>
    </div>

    @{
        string Role = string.Empty;
        HttpCookie reqCookies = Request.Cookies["userInfo"];

    }

    @if (reqCookies != null)
    {
        Role = reqCookies["Role"].ToString();

        if (Role.Equals("Caminante"))
        {

        }
        else
        {
            <div style="text-align:center; padding-top:20px">
                @Html.ActionLink("Agregar Sitio", "crearSitio", "SitiosInteres", null, new { @class = "cta" })
            </div>
        }
    }

</body>
</html>