
@{
//Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Table.css" rel="stylesheet" />

</head>
<body>
    <div class="banner-area">
        <h2 style="color:white;">Usuarios enlistados en trayectos</h2>
    </div>

    <div class="container">
        <h1> </h1>
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-3">Trayecto</div>
                <div class="col col-2">Email del usuario</div>
            </li>
            @foreach (var enlistado in ViewBag.enlistados)
            {
                foreach (var trayecto in ViewBag.trayectos)
                {
                    if (trayecto.TrayectoID == enlistado.TrayectoTrayectoID)
                    {
            <li class="table-row">
                <div class="col col-3" data-label="Descripción">@trayecto.Descripcion</div>
                <div class="col col-2" data-label="Correo">@enlistado.CaminanteCorreo </div>
            </li>
                        
                    }

                }
                
            }
        </ul>
    </div>

    @{
        string Role = string.Empty;
        HttpCookie reqCookies = Request.Cookies["userInfo"];

    }

    @if (reqCookies != null)
    {
        Role = reqCookies["Role"].ToString();

        if (Role.Equals("Caminante"))
        {

        }
        else
        {
            <div style="text-align:center">
            @Html.ActionLink("Buscar Usuario", "Index", "TrayectoCaminante", null, new { @class = "cta" })
            </div>
        }
    }


</body>
</html>
