
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enlistar</title>
    <link href="~/Styles/Pop.css" rel="stylesheet" />

    
</head>
<body>

    <div class="box center" style="margin-top:50px;">
        <h1>@ViewBag.mensaje</h1>
    </div>
</body>
</html>
